<main class="flex">
   

    <div class="ajout">
        <p>Ajouter un.e absent.e </p>

        <ul>Selectionner une personne: 
            <li>personne 1</li>
            <li>personne 2</li>
            <li>personne 3</li>
            <li>personne 4</li>
        </ul>
    
    
        <button>Ajouter</button>
    </div>

    <div class="absences">
        <ul> Liste des absents
            <li>Personne 1</li>
        </ul>

        <ul> Liste des absentes
            <li>Personne 2</li>
        </ul>
    </div>
  
</main>
