main {
    margin : 0;
    padding: 0;
    background-color: #F0F0F0;
    height: 100vh;
    width: 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: #CE0033;
    color : white;
    border-radius: 25px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
}
button:hover {
    font-weight: bold;
}
p {
    width: 50vw;
    height: 35vh;
    background-color: white;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}